<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Categories | Home Inventory Manager</title>
</head>

<body>

    <h1>Categories</h1>



    <ul>
        {% for category in categories %}
        <li>
            {{ category.name }}

            {% if user.role == "Administrator" %}
            <form method="POST" action="{{ url_for('update_category', category_id=category.id) }}"
                style="display:inline;">
                <input type="text" name="name" value="{{ category.name }}" required>
                <button type="submit">Update</button>
            </form>

            <form method="POST" action="{{ url_for('delete_category', category_id=category.id) }}"
                style="display:inline;">
                <button type="submit">Delete</button>
            </form>
            {% endif %}

        </li>
        {% endfor %}
    </ul>

    {% if user.role == "Administrator" %}
    <form method="POST" action="{{ url_for('add_category') }}">
        <label for="name">New category</label>
        <input type="text" id="name" name="name" required>
        <button type="submit">Add Category</button>
    </form>
    {% endif %}

</body>

</html>